body {
	background-color: blue;
	font-family: monospace;
}
.kotak{
	width:320px;
	margin:100px auto;
}
table{
	width:100%;
	background-color: white;
}
td{
	width: 25%;
}
#inputan{
	height: 80px;
	font-size:50px;
	text-align: right;
	vertical-align: bottom;
}
button{
	heigh: 50px;
	width: 100%;
	font-size: 40px;
}